<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0">
    <display-name>FoodTrackingSystem</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>ua.training.finalproject.foodtrackingsystem.controller.Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/fts/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>ua.training.finalproject.foodtrackingsystem.controller.listener.AccessFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/internal-server-error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/page-not-found-error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>

    Read more: https://javarevisited.blogspot.com/2012/01/error-page-in-java-web-application.html#ixzz5r5UNWAuF
    <error-page>
        <exception-type>ua.training.finalproject.foodtrackingsystem.controller.command.exception.DataSqlException</exception-type>
        <location>/error.jsp</location>
    </error-page>

</web-app>